/* Так делаются комментарии в css файлах */

body {
  background: #ccc;
}

#header {
  border-bottom: 1px solid #000;
}

#header h1 {
  color: #191970;
}

.post {
  padding: 10px 20px;
}

.post h2 {
  font-weight: 400;
}

.post p {
  color: #333;
}
